* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
header{
    background-color: transparent;
    padding: auto;

}
header .wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    justify-content: space-between;
    max-width: 1400px;
}
header .col2.column {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
header ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}
header ul li {
    list-style-type: none;
    padding: 0 15px;
}
header .col1 img {
	width: 100%;
	max-width: 125px;
	height: auto;
}
#sec1{
	background: rgb(2,0,36);
	background: linear-gradient(203deg, rgba(2,0,36,0.31974796754639356) 0%, rgba(255,255,255,1) 0%, rgba(247,250,245,1) 43%, rgba(228,255,206,1) 84%);
}
