* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
header{
    background-color: beige;
    padding: auto;

}
header .wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    justify-content: space-between;
    max-width: 1400px;
}
header .col2.column {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
header ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}
header ul li {
    list-style-type: none;
    padding: 0 15px;
}
header .col1 img {
	width: 100%;
	max-width: 125px;
	height: auto;
}
